{% extends "signin.html" %}
  {% block innercontent %}
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <form id="login_form" method="post" action="/login/" class="form-signin" role="form">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login to Wiki-Polls</h2>

        <input type="text" name="username" value="" class = "form-control" placeholder="Username" required autofocus>
        <br />
        <input type="password" name="password" value="" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  {% endblock %}